<div class="page-header">
  <h1>Offerings</h1>
</div>

<% if admin_signed_in? %>

<p><%= link_to 'Add a New Offering', new_offering_url, class: 'btn btn-primary' %></p>
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Procedure</th>
      <th>Category</th>
      <th>Company</th>
      <th>Price</th>
      <th>Notes</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @offerings.each do |offering| %>
      <tr>
        <td><%= Procedure.find_by(:id => offering.procedure_id).name %></td>
        <td><%= Procedure.find_by(:id => offering.procedure_id).category %> </td>
        <td><%= Company.find_by(:id => offering.company_id).name %></td>
        <td><%= offering.total_price %></td>
        <td><%= offering.notes %></td>
        <td><%= link_to '<i class="fa fa-search-plus"></i>'.html_safe, offering_url(offering), class: 'btn btn-primary' %></td>
      <% if admin_signed_in? %>
        <td><%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_offering_url(offering), class: 'btn btn-warning' %></td>
        <td><%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, offering_url(offering), method: 'delete', data: { confirm: "Do you really want to delete this offering?" }, class: 'btn btn-danger' %></td>
      <% else %>
        <td></td>
        <td></td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

