<div class="page-header">
  <h1>Offering #<%= @offering.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Procedure</dt>
  <dd><%= @offering.procedure_id %></dd>

  <dt>Company</dt>
  <dd><%= @offering.company_id %></dd>

  <dt>Exam price</dt>
  <dd><%= @offering.exam_price %></dd>

  <dt>Test price</dt>
  <dd><%= @offering.test_price %></dd>

  <dt>Total price</dt>
  <dd><%= @offering.total_price %></dd>

</dl>
