<div class="page-header">
  <h1>Procedures</h1>
</div>

<p><%= link_to 'Add a New Procedure', new_procedure_url, class: 'btn btn-primary' %></p>

<div>
<form action="/procedures/search">
  <label for="procedure_name">What type of medical procedure are you looking for?</label>
  <input id="procedure_name" name="procedure_name" list="procedures" />
  <% @procedure.each do |show| %>
  <datalist id="procedures">
    <option value="<%= show.name %>">
  <% end %>
  </datalist>
  <input type="submit" value="Find It!">
</form>
</div>


<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>


  <tbody>
    <% @procedure.each do |procedure| %>
      <tr>
        <td><%= procedure.name %></td>
        <td><%= Category.find_by(id: procedure.category_id).name %></td>
        <td><%= link_to '<i class="fa fa-search-plus"></i>'.html_safe, procedure_url(procedure), class: 'btn btn-primary' %></td>
        <td><%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_procedure_url(procedure), class: 'btn btn-warning' %></td>
        <td><%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, procedure_url(procedure), method: 'delete', data: { confirm: "Do you really want to delete this procedure?" }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

