<div class="page-header">
  <h1><%= @procedure.name %></h1>
</div>

<div>
<h4>Find the best value</h4>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Price</th>
      <th>Note</th>
      <th>Company</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
    </tr>
  </thead>

<tbody>
    <% @procedure.offerings.order(:total_price).each do |offering| %>
      <% offering.locations.each do |location| %>
        <tr>
          <td><%= offering.total_price %></td>
          <td><%= offering.notes %></td>
          <td><%= offering.company.name %></td>
          <td><%= location.address1 %></td>
          <td><%= location.city %></td>
          <td><%= location.state %></td>
          <td><%= location.zip %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
