<div class="page-header">
  <h1><%= @procedure.name %></h1>
</div>

<div>
<h4>Find the best value</h4>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Price</th>
      <th>Company</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
    </tr>
  </thead>

<tbody>
    <% @offerings.each do |offering| %>
      <tr>
        <td ><%= offering.total_price %></td>
        <% company = Company.find_by(id: offering.company_id) %>
        <td><%= company.name %></td>
        <% locations = Location.where(company_id: company.id) %>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <% locations.each do |location| %>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td><%= location.address1 %></td>
          <td><%= location.city %></td>
          <td><%= location.state %></td>
          <td><%= location.zip %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Price</th>
      <th>Company</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

<tbody>
