<br>
<br>
<div>
<button type="button" class="btn btn-primary btn-block" disabled="disabled"><h3><%= @category.name %></h3></button>
</div>


<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>


  <tbody>
    <% @category.procedures.each do |procedure| %>
      <tr>
        <td><%= procedure.name %></td>
        <td><%= link_to '<i class="fa fa-search-plus"></i>'.html_safe, procedure_url(procedure), class: 'btn btn-primary' %></td>
        <td><%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_procedure_url(procedure), class: 'btn btn-warning' %></td>
        <td><%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, procedure_url(procedure), method: 'delete', data: { confirm: "Do you really want to delete this procedure?" }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

